<!DOCTYPE html>
<html>
  <head>
    <title>Udafboksen</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo:400i|Courgette" rel="stylesheet">
  </head>

  <body>
    <% flash.each do |kind, msg| %>
      <div class="flash-message">
        <%= msg %>
      </div>
    <% end %>

    <div class="main">
      <%= yield %>
    </div>

    <div class="backdrop"></div>
  </body>
</html>
